<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kickin a$$</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

    <header>
        <nav>
            <h3 id="Logo">Project 3 group</h3>
            <a class="link1" href="about.html">
                <h3 class="aboutMe">Submit your data</h3>
            </a>
            <a class="link1" href="index.html">
            <img class="hamburger" src="./img/hamburger1.png" alt="hamburger">
            </a>
        </nav>
    </header>
    <div class="slider"></div>
    <section>
    <form class="form" method="POST" action="">
        <center>
        <H1>Enter your details </H1> <br>
        Breed <input type = "text" name= "breed"/><br>
        <br>
        Color <input type = "text" name = "color"/><br>
        <br>
        Age    <input type = "text" name = "age"/><br>
        <br>
        Gender <input type = "text" name = "gender"/><br>
        <br>
        <input type = "submit">
        </center>
    </form>
    </section>
</body>
</html>