<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kickin a$$</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

    <header>
        <nav>
            <h3 id="Logo">Project 3 group</h3>
            <a class="link1" href="data_sub.html">
                <h3 class="aboutMe">Sumbit your data</h3>
            </a>
            <a class="link1" href="index.html">
            <img class="hamburger" src="./img/hamburger1.png" alt="hamburger">
            </a>
        </nav>
        <section>
            <div class="hero">
                <img src="./img/dog.jpeg">
                <h1 class="headline">Dogs are awesome!</h1>
            </div>
        </section>
    </header>
    <div class="slider"></div>
    <main>
        <section class="projects">
          <div class="projectsLogo">
            <h1 id="Logo">Visualize the data:</h1>
          </div>
          <center>
            <div class="project1">
                <h1>Viz about dogs</h1>
            </div>
            <div class="  ">
                <a class="link1" href="simpsons.html">
                <div id="karlChart-div" class="chart-div">
                    <canvas id="karlChart"></canvas>
                </div>
                </a>
            </div>
            </center>
        </section>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" integrity="sha256-ABrLsV2caVEMCBfm3eNhv/CYQG+tGCqzw2f4b/Pag0M=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha256-v/YsEqWkVsiNHryCWg+vjC/eDBakMAgOsCJRa0kNPOg=" crossorigin="anonymous"></script>
    <script src="static/js/app.js"></script>
</body>
</html>
