<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Intake Model</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

    <header>
        <nav>
            <h3 id="Logo">Project 3 group</h3>
            <a class="link1" href="{{ url_for('index') }}">
                <h3 class="aboutMe">INTAKE FORM</h3>
            </a>
            <a class="link1" href="{{ url_for('home') }}">
            <img class="hamburger" src="../static/img/hamburger1.png" alt="hamburger">
            </a>
        </nav>
        <section>
            <div class="hero">
                <img src="../static/img/new_dog.jpeg">
                <h1 class="headline">Adoption Intake Model</h1>
            </div>
        </section>
    </header>
    <div class="slider"></div>
    <main>
        <section class="projects">
        <center>
            <div class="motivation">
            <h1 id="aboutProj">kahjbfknodli ifueoindlk  ibueoandj kiu oidks;iue kduaiefdkb juif djhusai wuhd 
                sljfhgks ldmfnidnlkc dkkj ldjfnisjfnoc kj ih icfj ioch h fi if cij fi  aidnfoa  fksfongion
                ;ksfj lkjfnmoiamefnmisjnsifnimkmciljnfi  nif eiohe fuohe foe hf u
            </h1>
            </div>
        </center>
          <div class="projectsLogo">
            <h1 id="Logo">Visualize the data:</h1>
          </div>
        </section>
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" integrity="sha256-ABrLsV2caVEMCBfm3eNhv/CYQG+tGCqzw2f4b/Pag0M=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha256-v/YsEqWkVsiNHryCWg+vjC/eDBakMAgOsCJRa0kNPOg=" crossorigin="anonymous"></script>
    <script src="../static/js/app.js"></script>
</body>
</html>
