* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #0E490E, #060300);
    z-index: -1;
}
.aboutMe {
    margin-left: 425px;
    margin-top: 20px;
    object-fit: cover;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    align-items: center;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#Logo {
    grid-column: 2/3;
    font-size: 24px;
}
#aboutProj{
    grid-column: 2/3;
    font-size: 20px;
}
.hamburger{
    justify-self: flex-end !important;
    margin-left: -50px;
    grid-area: right !important;
    object-fit: scale-down !important;
    height: 30% !important;
    width: 30% !important;
}
section {
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    color: black;
}
.hero{
    height: 100%;
    width: 100%;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 2px 2px black;
}

.headline{
    position: absolute;
    top: 65%;
    left: 1%;
    font-size: 55px;
    transform: translate(-20%, 70%);
    color: white;
    z-index: 1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
}
.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.2;
    top: 0;
}
.projects{
    background: linear-gradient(to left, #0E490E, #060300);
}
.project1{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: absolute;
    transform: translate(-10%, -200%);
    font-size: 20px;
    text-shadow: 1px 1px 2px
}

.link1 {
    color: inherit;
    text-decoration: underline;
}
body {
    padding: 0;
    margin: 0;
  }
  
.hamburger2{
    justify-self: flex-end !important;
    margin-left: 500px;
    grid-area: right !important;
    object-fit: scale-down !important;
    height: 10% !important;
    width: 10% !important;
    left: -100% !important;
}
.projectsLogo{
    align-items: center;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    position: absolute;
    font-size: 100px;
    transform: translate(0%, 0%);
}



.form{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: underline;
    transform: translate(0%, -50%);
}
.formPretty {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.motivation{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transform: translate(0%, -500%);
}
.downYouGo{
    transform: translate(0%, 25%);
}
.moveBreed{
    transform: translate(0%, 500%);
}
.resultPretty {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.moveSide {
    transform: translate(0%, 25%);
}